<!DOCTYPE html>
<html lang="en">
<body>

<main>
	<div class="en">
		
		<main>
			<div class="">
				<h1>Halaman Blog</h1>
				<p>Wellcome sweetie:) Have a nice day <a href="/">Kembali</a></p>
			</div>
		</main>
	</div>
</main>

</body>
</html>